nav > a {
    border: 1px solid green;
}

section {
    background-color: green;
}

#hero-content {
    background-color: red;
}

@media (min-width: 1601px) {
    header {
        border: 1px solid red;
    }
}

@media (max-width: 1600px) {
    header {
        border: 1px solid blue;
    }
}

@media (max-width: 1400px) {
    header {
        border: 1px solid green;
    }
}

@media (max-width: 1100px) {
    header {
        border: 1px solid orange;
    }
}

@media (max-width: 810px) {
    header {
        border: 1px solid violet;
    }
}

@media (max-width: 700px) {
    header {
        border: 1px solid purple;
    }
}