.accent-button {
    display: flex;
    align-self: flex-start;
    background-color: var(--accent-color);
    color: #E6E6E6;
    border-radius: 16px;
    padding: 20px 28px;
    font-size: var(--accent-button-font-size);
    font-weight: 600;

    transition: background-color 87ms ease-out;
}
.accent-button:hover {
    background-color: var(--accent-color-hover);
    box-shadow: 0px 0px 42px 0px rgba(0, 0, 0, .09);
}
.accent-button > a {
    color: #E6E6E6;
    text-decoration: none !important;
}