.product-item {
    --product-item-padding-vertical: 32px;
    --product-item-padding-horizontal: 16px;
    --product-item-width: 275px;
    --product-item-icon-size: calc(var(--product-item-width) * 96 / 275);
    /*  1.4142135623730950488016887242097 = sqrt(2) 
    diameter / 2 * sqrt(2) / 2 (half square)
    */
    --product-item-icon-square-fit-size: calc(var(--product-item-icon-size) / 4 * 1.4142135623730950488016887242097);
    --product-item-icon-margin-top: calc(var(--product-item-icon-size) / 2);
    --product-item-padding-top: calc(var(--product-item-icon-square-fit-size) + var(--product-item-padding-vertical));

    display: flex;
    flex-direction: column;
    width: var(--product-item-width);
    align-items: center;
    
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 5%);
    padding: var(--product-item-padding-vertical) var(--product-item-padding-horizontal);
    padding-top: var(--product-item-padding-top);
    margin-top: var(--product-item-icon-square-fit-size);
    gap: 16px;
    border-radius: 16px;
    background-color: var(--primary-background-color);
    transition: box-shadow 133ms ease-out;
}
.product-item:hover {
    box-shadow: 0px 4px 50px 0px rgba(0, 0, 0, 15%);
}
.product-item > .button.accent {
    align-self: center;
    margin-top: 16px;
}
.product-item > .product-item-icon {
    --product-item-icon-margin-top-reset: calc(var(--product-item-padding-top) * -1);

    background-color: var(--ternary-background-color);
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: center;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 7%);

    border-radius: 100px;

    width: var(--product-item-icon-size);
    height: var(--product-item-icon-size);
    position: absolute;
    margin-top: calc(var(--product-item-icon-margin-top-reset) - var(--product-item-icon-margin-top));
}

.product-item h3, .product-item p {
    cursor: default;
}