#hero-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    max-width: 45%;
}
#hero-content > div {
    margin-top: 40px;
}
#hero-content > img {
    display: none;
}
#hero-content + img {
    height: 475.13px;
}
#get-started-button {
    --button-padding-vertical: 20px;
    --button-padding-horizontal: 28px;
    --button-border-radius: 16px;

    font-size: calc(var(--button-font-size) * 6 / 5);
}

*[data-insert-to-navbar-menu] {
    scroll-margin-top: var(--content-gap);
}

#more-about-xellanix {
    text-align: center;
    column-gap: var(--section-gap-horizontal);
    row-gap: var(--section-gap-vertical2x);
}
#more-about-xellanix > * {
    min-width: 275px;
}
#products-section {
    gap: var(--section-gap-vertical2x);
    position: relative;   
}
#products-section.a > img {
    top: 190px;
    bottom: calc(29.5% - 118px);
    height: calc(104.5% + 888.25px);
}
#products-section > img {
    position: absolute;
    z-index: -100;
    top: 190px;
    bottom: calc(29.5% - 118px);
    height: calc(104.5% + 888.25px);
    margin: auto 0;
}
#team-section p > br {
    display: initial;
    content: initial;
    margin-top: initial;
}
#team-section > div {
    margin-top: var(--section-gap-vertical);
}
#service-section {
    row-gap: var(--section-gap-vertical2x);
}
#service-section a {
    color: inherit;
    text-decoration: none !important;
    margin: 0px;
    font-size: var(--navigation-text-size);
}
#service-section a:hover {
    color: inherit;
    opacity: 0.6;
}
#service-section > .gap-15 {
    column-gap: calc(var(--section-gap-horizontal) * 1.5);
    row-gap: var(--section-gap-vertical2x);
}

.social-media-links {
    column-gap: var(--section-gap-vertical);
}

.animate-hide {
    opacity: 0;
}