.popup-content form,
.popup-content button {
	width: 100%;
}

.popup-content form > * {
	box-sizing: border-box;
	width: 100%;
}

.popup-content .separator {
	overflow: hidden;
	width: 100%;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	
	-webkit-user-select: none;
	user-select: none;
}
.popup-content .separator::before,
.popup-content .separator::after {
	background-color: var(--ternary-background-color2);
	content: "";
	display: inline-flex;
	height: 2px;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.popup-content .separator::before {
	right: 0.5em;
	margin-left: -50%;
}
.popup-content .separator::after {
	left: 0.5em;
	margin-right: -50%;
}
